@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Open+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


body {
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed; 
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#menu ul {
    list-style: none;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    
    
}

#menu ul li a {
    float: right;
    color: rgb(255, 255, 255);
    padding: 25px;
    text-decoration: none;
    transition: all .4s;
    transition-duration: 1s;
    border-radius: 10px;
}

#menu ul li a:hover {
    transition: 1s;
    background: #33be8f;
}

.salvador{
    margin-left: 90vh;
}

.img2 {
    background: #eeeeee00;
    width: 1400px;
    display: contents;
}

nav{
    padding-right: 0px;
}

.img2 ul {
    padding: 0 20px;
    margin-left: 30px;
}

.img2 ul li {
    display:inline-flex;
    padding-left:0px;
    padding-right: 0px;
}

.img2 img {
    float: left; 
}

#intro {
    color: #37cfa9;
    padding-top: 0%;
    padding-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#oto{
    color: #37cfa9;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    line-height: -10px;
}

#titulo {
    font-size: 40px;
    color: white;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 100px;
    border: none;
    border-radius: 50px;
    background: #37cfa9;
    color: white;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

a button:hover {
    background: #26a786;
}

img.inst  {
    width: 28px;
    height: 30px;
}

img.face {
    width: 20px;
    height: 30px;
}

img.ytetwtt {
    width: 33px;
    height: 30px;
}

.box{
    background: #0000006c;
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat 3,1fr;
    grid-auto-rows:150px 400px 170px;
    grid-template-areas: 
    "box1 box1 box1"
    "box2 box2 box2"
    "box4 box4 box4";
}

.box1{
    grid-area: box1;
    position: absolute;
}

.box2{
    margin-top: 3em;
    margin-left: 0%;
    grid-area: box2;
}

/*.box3{
    margin-top: 3em;
    padding-top: 10%;
    padding-left: 60%;
    margin-right: 40px;
    grid-area: box3;
}*/

.box4 {
    grid-area: box4;
    display: flex;
}

.dias {
    font-size: 40px;
    color: white;
    text-align: center;
}

main.cards {
    display: flex;
    /*padding: 50px;*/
    padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 10px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(129, 255, 186);
    background: rgba(0, 77, 45, 0.521);
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 299px;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
    color: #FFF;
}

main.cards section.card span {
    font-weight: 370;
    max-width: 240px;
    font-size: 85%;
    margin-bottom: 16px;
    color: #FFF;
}

main.cards section.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 5px;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: rgb(255, 250, 250);
}

.buttonzinho {
    cursor: pointer;
    width: 135px;
    height: 43px;
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    border-radius: 50px;
    background: #37cfa9;
    color: white;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #54ffbd, #04a37b);
}

main.cards section.card.contact button {
    box-shadow: 20px 20px 50px -30px #9272C2;
}

main.cards section.card:last-child {
    margin-bottom: 0px;
}