@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Open+Sans:wght@700&display=swap');


body {
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#menu ul {
    list-style: none;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#menu ul li a {
    float: right;
    color: rgb(255, 255, 255);
    padding: 25px;
    text-decoration: none;
    transition: all .4s;
    transition-duration: 1s;
    border-radius: 10px;
}

#menu ul li a:hover {
    transition: 1s;
    background: #33be8f;
}

.salvador{
    margin-left: 90vh;
}

.img2 {
    background: #eeeeee00;
    width: 1400px;
    display: contents;
}

nav{
    padding-right: 0px;
}

.img2 ul {
    padding: 0 20px;
    margin-left: 30px;
}

.img2 ul li {
    display:inline-flex;
    padding-left:0px;
    padding-right: 0px;
}

.img2 img {
    float: left; 
}

#intro {
    color: #33be8f;
    padding-top: 0%;
    padding-left: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#oto{
    color: #37cfa9;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    line-height: -10px;
}

#titulo {
    font-size: 40px;
    color: white;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a button:hover {
    background: linear-gradient(90deg, rgba(56,211,159,1) 0%, rgba(51,190,143,1) 100%);
}

img.inst  {
    width: 28px;
    height: 30px;
}

img.face {
    width: 15px;
    height: 30px;
}

img.ytetwtt {
    width: 36px;
    height: 30px;
}

.box{
    background: #0000006c;
    padding: 0px;
    margin: 0px;

}
.container{
    display: grid;
    grid-template-columns: repeat 3,1fr;
    grid-auto-rows:150px 400px 170px;
    grid-template-areas: 
    "box1 box1 box1"
    "box2 box2 box3"
    "box4 box4 box4";
}

.box1{
    grid-area: box1;
    position: fixed;
    
}

.box2{
    margin-top: 3em;
    margin-left: 06%;
    grid-area: box2;
}

.box3{
    margin-top: 3em;
    padding-top: 10%;
    padding-left: 60%;
    margin-right: 40px;
    grid-area: box3;
}

.box4 {
    grid-area: box4;
    display: flex;
}

.dicas{
    font-size: 28px;
    color: #38d39f;
}

.a1{
    font-size: 15px;
    color: aliceblue;
}

.a2{
    font-size: 12px;
    color: #33be8f;
}

span{
    font-family: 'open sans';
}

section{
    margin-left: 13%;
} 

a{
    text-decoration: none;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
    border-radius: 20px;
    margin-top: 30px;
}
  
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #37cfa9;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #37cfa9;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


.center2 {
    width: 180px;
    height: 60px;
    position: absolute;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 200px;
}

.btn2 {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #37cfa9;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    border-radius: 10px;
}

.btn2:hover {
    transition: 1s ease-in-out;
    background: #37cfa9;
}

.btn2:hover svg {
    stroke-dashoffset: -480;
}

.btn2 span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

  